*.pt linguist-generated
*.pkl linguist-generated
*.pyc linguist-generated
*.db linguist-generated
models/** linguist-generated
results/*.db linguist-generated

ns-3-allinone/** linguist-vendored
kafka_** linguist-vendored
java-17/** linguist-vendored

*.md linguist-detectable
*.csv linguist-detectable
*.yaml linguist-detectable
*.yml linguist-detectable
*.go linguist-detectable
*.sh linguist-detectable
Dockerfile linguist-detectable
requirements.txt linguist-detectable

results/experiment_results.csv linguist-generated
telemetry/*.jsonl linguist-generated
